{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title"><i class="fas fa-inr-sign"></i> Sell Stocks</h1>
                    <form action="/sell" method="post">
                        <div class="mb-3">
                            <label for="symbol" class="form-label"><i class="fas fa-chart-line"></i> Select Stock Symbol:</label>
                            <select name="symbol" id="symbol" class="form-select">
                                {% for symbol in symbols %}
                                    <option value="{{ symbol }}">{{ symbol }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="shares" class="form-label"><i class="fas fa-exchange-alt"></i> Number of Shares:</label>
                            <input autocomplete="off" autofocus class="form-control" name="shares" id="shares" placeholder="Shares" type="number">
                        </div>
                        <button class="btn btn-primary w-100" type="submit"><i class="fas fa-arrow-circle-up"></i> Sell</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
